*Jenkinsfile
/mta_archives/
fioriHtmlRunner.html
.*/fioriHtmlRunner.html
mock_preview_sapui5.html
.*/mock_preview_sapui5.html
extended_runnable_file.html
.*/extended_runnable_file.html
sap-ui-cachebuster-info.json
*/node_modules/
*.mtar
# auto generated wildcard
*/.env

# auto generated wildcard
Stage/.env
# auto generated wildcard
Core/.env
# auto generated wildcard
VAL/.env
# auto generated wildcard
DM/.env